<div class="comment-input">
  <div class="small-text">
    <p>
      Comment created {{comment.datetimeCreatedFormatted}} by {{comment.userName}}
      {{#if comment.hasUpdate}}(Last updated {{comment.datetimeUpdatedFormatted}}){{/if}}
    </p>
  </div>
  {{textarea value=comment.body disabled=isTextDisabled class="comment-textarea"}}
  <div class="btn-group add-comment-buttons">
    {{#if showSaveCancel}}
      <button id="comment-save" class="btn btn-primary save-comment-button" {{action "save"}}>Save</button>
      <button id="comment-cancel" class="btn btn-warning cancel-comment-button" {{action "cancel"}}>Cancel</button>
    {{/if}}
  </div>
  {{#if comment.allowUserEditDelete}}
    <div class="btn-group">
      <button id="comment-edit" class="btn btn-primary edit-button" {{action "edit"}} disabled={{isButtonDisabled}}>Edit</button>
      <button id="comment-delete" class="btn btn-danger delete-button" {{action "delete"}} disabled={{isButtonDisabled}}>Delete</button>
    </div>
  {{/if}}
</div>