<div class="post-input">
  <div class="small-text">
    <p>
      Post created {{post.datetimeCreatedFormatted}} by {{post.userName}}
      {{#if post.hasUpdate}}(Last updated {{post.datetimeUpdatedFormatted}}){{/if}}
    </p>
  </div>
  <textarea id="post-area" class="post-textarea" name="post-body" disabled>{{post.body}}</textarea>
  {{#if post.allowUserEditDelete}}
    <div class="btn-group">
      <button id="post-edit" class="btn btn-primary edit-button onclick=(action EditPost ">Edit</button>
      <button id="post-delete" class="btn btn-danger delete-button">Delete</button>
    </div>
  {{/if}}
</div>
{{#each post.comments as |comment|}}
  {{comment-form comment=comment}}
{{/each}}
