<h2>Member Posts & Comments for {{airport.icao}}</h2>
{{#if airport.hasPosts}}
  {{#each posts as |post|}}
    <div class="post-input">
      <textarea name="post-body">{{post.body}}</textarea>
      <div class="small-text">
        <p>
          Post created {{post.datetimeCreatedFormatted}} by {{post.userName}}
          {{#if post.hasUpdate}}(Last updated {{post.datetimeUpdatedFormatted}}){{/if}}
        </p>
      </div>
    </div>
    {{#each post.comments as |comment|}}
      <div class="comment-input">
        <textarea name="comment-body">{{comment.body}}</textarea>
        <div class="small-text">
          <p>
            Comment created {{comment.datetimeCreatedFormatted}} by {{comment.userName}}
            {{#if comment.hasUpdate}}(Last updated {{comment.datetimeUpdatedFormatted}}){{/if}}
          </p>
        </div>
      </div>
    {{/each}}
  {{/each}}
{{else}}
  <em>No Posts or Comments for {{airport.icao}}</em>
{{/if}}