<div class="post-input">
  <div class="small-text">
    <p>
      Post created {{post.datetimeCreatedFormatted}} by @{{post.userName}}
      {{#if post.hasUpdate}}(Last updated {{post.datetimeUpdatedFormatted}}){{/if}}
    </p>
  </div>
  {{#if isTextDisabled}}
    <div class="post-locked-area">
      {{post.body}}
    </div>
  {{else}}
    {{textarea value=post.body class="post-textarea"}}
  {{/if}}
  <div class="btn-group add-comment-buttons">
    {{#if (and showAddComment showButtons)}}
      <button class="btn btn-primary add-comment-button" disabled={{isButtonDisabled}} {{action "createComment"}}>Add Comment</button>
    {{/if}}
    {{#if showSaveCancel}}
      <button class="btn btn-primary save-post-button" {{action "save"}}>Save</button>
      <button class="btn btn-warning cancel-post-button" {{action "cancel"}}>Cancel</button>
    {{/if}}
  </div>
  {{#if post.allowUserEditDelete}}
    <div class="btn-group edit-delete-buttons">
      <button class="btn btn-primary edit-button" {{action "edit"}} disabled={{isButtonDisabled}}>Edit</button>
      <button class="btn btn-danger delete-button" {{action "delete"}} disabled={{isButtonDisabled}}>Delete</button>
    </div>
  {{/if}}
</div>
{{#if createNewComment}}
  <div class="comment-input live-input">
    {{textarea class="comment-textarea" value=newCommentBody}}
    <div class="btn-group add-comment-buttons">
      <button class="btn btn-primary save-comment-button" {{action "saveComment"}}>Save</button>
      <button class="btn btn-warning cancel-comment-button" {{action "cancelComment"}}>Cancel</button>
    </div>
  </div>
{{/if}}
{{#each post.comments as |comment|}}
  {{comment-form comment=comment isButtonDisabled=isButtonDisabled disableAllButtons=disableAllButtons}}
{{/each}}
