<div class="post-input">
  <div class="small-text">
    <p>
      Post created {{post.datetimeCreatedFormatted}} by {{post.userName}}
      {{#if post.hasUpdate}}(Last updated {{post.datetimeUpdatedFormatted}}){{/if}}
    </p>
  </div>
  {{textarea value=post.body disabled=isTextDisabled class="post-textarea"}}
  <div class="btn-group add-comment-buttons">
    {{#if (and showAddComment showButtons)}}
      <button id="comment-add" class="btn btn-primary add-comment-button" disabled={{isButtonDisabled}} {{action "createComment"}}>Add Comment</button>
    {{/if}}
    {{#if showSaveCancel}}
      <button id="post-save" class="btn btn-primary save-comment-button" {{action "save"}}>Save</button>
      <button id="post-cancel" class="btn btn-warning cancel-comment-button" {{action "cancel"}}>Cancel</button>
    {{/if}}
  </div>
  {{#if post.allowUserEditDelete}}
    <div class="btn-group edit-delete-buttons">
      <button id="post-edit" class="btn btn-primary edit-button" {{action "edit"}} disabled={{isButtonDisabled}}>Edit</button>
      <button id="post-delete" class="btn btn-danger delete-button" {{action "delete"}} disabled={{isButtonDisabled}}>Delete</button>
    </div>
  {{/if}}
</div>
<div class="comment-input">
  {{#if createNewComment}}
    {{textarea class="comment-textarea" value=newCommentBody}}
    <div class="btn-group add-comment-buttons">
      <button id="comment-save" class="btn btn-primary save-comment-button" {{action "saveComment"}}>Save</button>
      <button id="comment-cancel" class="btn btn-warning cancel-comment-button" {{action "cancelComment"}}>Cancel</button>
    </div>
  {{/if}}
</div>
{{#each post.comments as |comment|}}
  {{comment-form comment=comment isButtonDisabled=isButtonDisabled disableAllButtons=disableAllButtons}}
{{/each}}
