<div class="main-airport-info">
  <h2 class="airport-header">{{model.airport.icao}} - {{model.airport.name}}</h2>
  <h3>{{model.airport.region}}</h3>
  <h4>{{model.airport.elevation}}' MSL</h4>
</div>
<div class="weather-details">
  <h2>Current Aviation Weather Information (Live Updates)</h2>
  {{#if model.airport.hasWeather }}
    <div class="metar">
      {{#if model.airport.metar}}
        <u>METAR:</u> {{model.airport.metar}}
      {{/if}}
    </div>
    <div class="taf">
      {{#if model.airport.taf}}
        <u>TAF:</u> {{model.airport.taf}}
      {{/if}}
    </div>
  {{else}}
    <em>No Weather Information available for this Airport</em>
  {{/if}}
</div>
<div class="airport-details">
  <h2>Runway Information</h2>
  {{models-table
  data=model.runways
  columns=columnsForRunwayTable
  showComponentFooter=true
  showColumnsDropdown=false
  useFilteringByColumns=false
  showGlobalFilter=false
  doFilteringByHiddenColumns=false
  useNumericPagination=false
  filteringIgnoreCase=false
  multipleColumnsSorting=false
  showPageSize=false
}}
</div>
<div class="airport-details">
  <h2>Communcations Information</h2>
  {{models-table
  data=model.comms
  columns=columnsForCommTable
  showComponentFooter=true
  showColumnsDropdown=false
  useFilteringByColumns=false
  showGlobalFilter=false
  doFilteringByHiddenColumns=false
  useNumericPagination=false
  filteringIgnoreCase=false
  multipleColumnsSorting=false
  showPageSize=false
}}
</div>
<div class="posts-section">
  <h2>Member Posts & Comments for {{model.airport.icao}}</h2>
  <button id="post-add" class="btn btn-primary add-post-button" disabled={{isButtonDisabled}} {{action "create"}}>Add New Post</button>
  <div class="post-input">
    {{#if createNewPost}}
      {{textarea class="post-textarea"}}
      <div class="btn-group add-post-buttons">
        <button id="post-save" class="btn btn-primary save-comment-button" {{action "save"}}>Save</button>
        <button id="post-cancel" class="btn btn-warning cancel-comment-button" {{action "cancel"}}>Cancel</button>
      </div>
    {{/if}}
  </div>
  {{#if model.airport.hasPosts}}
    {{#each model.posts as |post|}}
      <div class="post-comment-input">
        {{post-form post=post isButtonDisabled=isButtonDisabled disableAllButtons=disableAllButtons}}
      </div>
    {{/each}}
  {{else}}
    <em>No Posts or Comments for {{model.airport.icao}}</em>
  {{/if}}
</div>
<div class="back-table-link">
  {{link-to '- Back to Main Table View -' 'airports'}}
</div>
